<div>
    <div></div>
    <div id="ueditor_0" class="mock-iframe">
        <div class="mock-iframe-document">
            <div class="mock-iframe-body">
                <div spellcheck="false" lang="en" class="view rich_media_content autoTypeSetting24psection">
                    <div contenteditable="true" translate="no" class="ProseMirror"
                        style="padding: 0px 4px; min-height: 949px;">
                        <section style="margin-bottom:unset;" data-pm-slice="0 0 []">
                            <section style="text-align:center;margin-bottom:unset;">
                                <section
                                    style="border-width:3px;border-bottom-style:solid;border-color:rgb(0, 0, 34);padding:5px 25px;display:inline-block;box-sizing:border-box;margin-bottom:unset;">
                                    <p style="letter-spacing:4px;"><strong><span style="font-size:28px;"><span
                                                    leaf="">简约模板</span></span></strong></p>
                                </section>
                                <p style="letter-spacing:0px;"><span style="font-size:28px;"><span leaf="">concise
                                            style</span></span></p>
                                <section
                                    style="margin-left:auto;margin-right:auto;width:60px;height:10px;background-color:rgb(67, 212, 201);margin-bottom:unset;overflow:hidden;line-height:0;">
                                    <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                            </section>
                            <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                            <section style="margin-bottom:unset;">
                                <section style="vertical-align:top;margin-bottom:unset;">
                                    <section style="margin-left:50px;margin-bottom:-20px;">
                                        <p style="letter-spacing:3px;"><span leaf="">新闻概览</span></p>
                                    </section>
                                    <section
                                        style="width:15px;height:15px;margin-right:auto;margin-left:10px;margin-bottom:3px;background-color:rgb(67, 212, 201);overflow:hidden;line-height:0;">
                                        <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                                    <section style="width:233px;margin-right:auto;margin-bottom:unset;">
                                        <section
                                            style="width:235px;height:2px;margin-left:3px;margin-bottom:-16px;background-color:rgb(67, 212, 201);overflow:hidden;line-height:0;">
                                            <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                                        <section
                                            style="width:2px;height:85px;margin-left:34px;background-color:rgb(67, 212, 201);margin-bottom:unset;overflow:hidden;line-height:0;">
                                            <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                                    </section>
                                    <section
                                        style="padding-left:50px;padding-right:20px;margin-top:-55px;font-size:18px;color:rgb(67, 212, 201);box-sizing:border-box;margin-bottom:unset;">
                                        <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                                </section>
                            </section>
                            <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                            <section style="margin-bottom:unset;">
                                <section
                                    style="border-width:2px;border-bottom-style:solid;border-color:rgb(136, 136, 136);padding:10px;box-sizing:border-box;margin-bottom:unset;">
                                    <p style="text-align:center;letter-spacing:2px;line-height:2em;"><span
                                            style="font-size:15px;"><span leaf="">拜访敦煌，</span></span><span leaf=""><br
                                                class="ProseMirror-trailingBreak"></span></p>
                                    <p style="text-align:center;letter-spacing:2px;line-height:2em;"><span
                                            style="font-size:15px;"><span leaf="">看雅丹地貌夕阳无限，</span></span></p>
                                    <p style="text-align:center;letter-spacing:2px;line-height:2em;"><span
                                            style="font-size:15px;"><span leaf="">沙漠奇景中的飞天壁画，</span></span></p>
                                    <p style="text-align:center;letter-spacing:2px;line-height:2em;"><span
                                            style="font-size:15px;"><span leaf="">这不是海市蜃楼，</span></span></p>
                                    <p style="text-align:center;letter-spacing:2px;line-height:2em;"><span
                                            style="font-size:15px;"><span leaf="">延续千年的梦境，</span></span></p>
                                    <p style="text-align:center;letter-spacing:2px;line-height:2em;"><span
                                            style="font-size:15px;"><span leaf="">萦绕在鸣沙山间。</span></span></p>
                                </section>
                                <section style="margin:0px 10px;">
                                    <p><span style="font-size:15px;"><span leaf="">In such a soft and warm season,
                                                please accept my sincere blessing and deep concern for
                                                you.</span></span></p>
                                </section>
                            </section>
                            <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                            <section style="text-align:center;margin-bottom:unset;">
                                <section
                                    style="border-width:3px;border-bottom-style:solid;border-color:rgb(0, 0, 34);padding:5px 25px;display:inline-block;box-sizing:border-box;margin-bottom:unset;">
                                    <p style="letter-spacing:4px;"><span leaf="">新闻标题</span></p>
                                </section>
                                <section style="margin-bottom:unset;">
                                    <section style="display:inline-block;margin-bottom:unset;">
                                        <section
                                            style="letter-spacing:1.5px;font-size:16px;color:rgb(0, 0, 34);padding-right:10px;padding-left:10px;box-sizing:border-box;margin-bottom:unset;">
                                            <span style="font-size:20px;"><span leaf="">concise style</span></span>
                                        </section>
                                        <section
                                            style="width:100%;height:10px;background:rgb(67, 212, 201);margin-top:-12px;color:rgb(0, 0, 34);margin-bottom:unset;overflow:hidden;background-clip:initial;-webkit-background-clip:initial;"
                                            data-width="100%"><span leaf=""><br
                                                    class="ProseMirror-trailingBreak"></span></section>
                                    </section>
                                </section>
                            </section>
                            <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                            <section style="margin-bottom:unset;">
                                <section
                                    style="margin-right:0%;margin-bottom:10px;margin-left:0%;text-align:center;font-size:13px;">
                                    <section
                                        style="display:inline-block;vertical-align:top;width:100%;margin-bottom:unset;"
                                        data-width="100%">
                                        <section
                                            style="width:2.5em;height:2.5em;margin-bottom:-2.5em;border-left:3px dotted rgb(67, 212, 201);border-top:3px dotted rgb(67, 212, 201);box-sizing:border-box;overflow:hidden;line-height:0;">
                                            <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                                        <section style="padding:8px;box-sizing:border-box;margin-bottom:unset;">
                                            <section
                                                style="width:100%;background-color:rgba(255, 255, 255, 0);margin-bottom:unset;"
                                                data-width="100%">
                                                <section style="margin-bottom:unset;">
                                                    <section style="margin-bottom:unset;">
                                                        <section
                                                            style="display:inline-block;vertical-align:top;width:50%;padding-left:5px;box-sizing:border-box;margin-bottom:unset;"
                                                            data-width="50%">
                                                            <section
                                                                style="text-align:left;margin-right:0%;margin-left:0%;margin-bottom:unset;">
                                                                <section
                                                                    style="vertical-align:middle;display:inline-block;width:100%;margin-bottom:unset;"
                                                                    data-width="100%"><span leaf="">新闻概述</span>
                                                                </section>
                                                            </section>
                                                        </section>
                                                    </section>
                                                </section>
                                            </section>
                                        </section>
                                        <section
                                            style="width:2.5em;height:2.5em;float:right;margin-top:-2.5em;border-right:3px dotted rgb(67, 212, 201);border-bottom:3px dotted rgb(67, 212, 201);box-sizing:border-box;margin-bottom:unset;overflow:hidden;line-height:0;">
                                            <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                                    </section>
                                </section>
                            </section>
                            <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                            <section style="margin-bottom:unset;">
                                <section style="margin:10px;">
                                    <section
                                        style="display:inline-block;background-color:rgb(113, 232, 222);width:35px;height:35px;margin-bottom:unset;overflow:hidden;line-height:0;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);">
                                        <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                                    <section
                                        style="background-color:rgb(113, 232, 222);margin-left:-10px;display:inline-block;width:30px;height:30px;margin-bottom:unset;overflow:hidden;line-height:0;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);">
                                        <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                                </section>
                                <section
                                    style="margin-left:20px;margin-top:-50px;margin-bottom:unset;transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);">
                                    <p><strong><span style="font-size:18px;"><span leaf="">no.1 &nbsp;
                                                    人生的价值</span></span></strong></p>
                                </section>
                            </section>
                            <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                            <section style="margin-bottom:unset;"><span style="font-size:15px;letter-spacing:2px;"><span
                                        leaf="">人生的价值犹如一条河水，我们站在河边各有各的位置。我们能否喝到水，关键并不在于我们的位置，而在于我们是否敢于去争取那生命之源。望而止步，不敢向生命挑战的人，不论你处于多么优越的位置，成功只会是过客，不会属于你。&nbsp;</span></span>
                            </section>
                            <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                            <section style="margin-bottom:unset;">
                                <section style="margin:10px;">
                                    <section
                                        style="display:inline-block;background-color:rgb(113, 232, 222);width:35px;height:35px;margin-bottom:unset;overflow:hidden;line-height:0;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);">
                                        <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                                    <section
                                        style="background-color:rgb(113, 232, 222);margin-left:-10px;display:inline-block;width:30px;height:30px;margin-bottom:unset;overflow:hidden;line-height:0;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);">
                                        <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                                </section>
                                <section
                                    style="margin-left:20px;margin-top:-50px;margin-bottom:unset;transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);">
                                    <p><strong><span style="font-size:18px;"><span leaf="">no.2 &nbsp;
                                                    人生的价值</span></span></strong></p>
                                </section>
                            </section>
                            <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                            <section style="margin-bottom:unset;"><span style="font-size:15px;letter-spacing:2px;"><span
                                        leaf="">乐观者认为，新的一天就有新的开始；悲观者认为，新的一天就代表着生命的倒计时；睿智者认为，新的一天可以做更多有价值的事；行善者认为，就有新的生命如花般在阳光下绽放；哲学家认为，太阳每一天的不同都有其所存在的价值……&nbsp;</span></span>
                            </section>
                            <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                            <section style="margin-bottom:unset;">
                                <section style="margin:10px;">
                                    <section
                                        style="display:inline-block;background-color:rgb(113, 232, 222);width:35px;height:35px;margin-bottom:unset;overflow:hidden;line-height:0;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);">
                                        <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                                    <section
                                        style="background-color:rgb(113, 232, 222);margin-left:-10px;display:inline-block;width:30px;height:30px;margin-bottom:unset;overflow:hidden;line-height:0;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);">
                                        <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                                </section>
                                <section
                                    style="margin-left:20px;margin-top:-50px;margin-bottom:unset;transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);">
                                    <p><strong><span style="font-size:18px;"><span leaf="">no.3 &nbsp;
                                                    人生的价值</span></span></strong></p>
                                </section>
                            </section>
                            <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                            <section style="margin-bottom:unset;"><span
                                    style="letter-spacing:2px;color:#333333;font-family:微软雅黑, Arial;font-size:15px;"><span
                                        leaf="">人生的道路不是一帆风顺，要经历坎坷。我们必须要面对困难，迎难而上，就算路上没有鲜花铺地，我们也要自己为自己高歌前进。&nbsp;</span></span>
                            </section>
                            <section style="margin-bottom:unset;">
                                <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                            </section>
                            <section style="text-align:center;margin-bottom:unset;">
                                <section
                                    style="border-width:3px;border-bottom-style:solid;border-color:rgb(0, 0, 34);padding:5px 25px;display:inline-block;box-sizing:border-box;margin-bottom:unset;">
                                    <p style="letter-spacing:4px;"><span style="font-size:20px;"><strong><span
                                                    leaf="">简约模板</span></strong></span></p>
                                </section>
                                <section style="margin-bottom:unset;">
                                    <section style="display:inline-block;margin-bottom:unset;">
                                        <section
                                            style="letter-spacing:1.5px;color:rgb(0, 0, 34);padding-right:10px;padding-left:10px;box-sizing:border-box;margin-bottom:unset;">
                                            <span style="font-size:20px;"><span leaf="">concise style</span></span>
                                        </section>
                                        <section
                                            style="width:100%;height:10px;background:rgb(67, 212, 201);margin-top:-12px;color:rgb(0, 0, 34);margin-bottom:unset;overflow:hidden;background-clip:initial;-webkit-background-clip:initial;"
                                            data-width="100%"><span leaf=""><br
                                                    class="ProseMirror-trailingBreak"></span></section>
                                    </section>
                                </section>
                            </section>
                            <section style="margin-bottom:unset;">
                                <p style="letter-spacing:2px;"><span style="font-size:15px;"><span
                                            leaf="">离别也不失为一种享受，因为它能将曾经不经意所错失的温暖，一一重现。朋友的离开，可以更加珍惜剩余时间内，彼此的友谊，可以在哪一天，共同去回想那些美好的回忆。&nbsp;</span></span>
                                </p>
                            </section>
                            <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                            <section style="margin-bottom:unset;">
                                <section nodeleaf=""><img
                                        src="https://mmbiz.qpic.cn/mmbiz_jpg/Ljib4So7yuWg9ebIenyQqWvF0aC9BLhI9IubtmV6Qus0YxiaAvyn6icJ5FDLxmDTLPe8rpH9hXQozulXkM6TOqElA/640?wx_fmt=jpeg"
                                        data-src="https://mmbiz.qpic.cn/mmbiz_jpg/Ljib4So7yuWg9ebIenyQqWvF0aC9BLhI9IubtmV6Qus0YxiaAvyn6icJ5FDLxmDTLPe8rpH9hXQozulXkM6TOqElA/640?wx_fmt=jpeg"
                                        class="rich_pages wxw-img" data-ratio="0.6666666666666666" data-w="1080"
                                        style="vertical-align:bottom;background-color:transparent !important;background-size:0px !important;border-radius:initial;"
                                        contenteditable="false" data-imgqrcoded="1"><img class="ProseMirror-separator"
                                        alt=""><br class="ProseMirror-trailingBreak"></section>
                            </section>
                            <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                            <section style="margin-bottom:unset;">
                                <p style="letter-spacing:2px;"><span style="font-size:15px;"><span
                                            leaf="">理想是石，敲出星星之火；理想是火，点燃熄灭的灯；理想是灯，照亮夜行的路；理想是路，引你走向黎明。在实现梦想的路途上，请带上理想，因为理想有支撑人实现梦想的力量！&nbsp;</span></span>
                                </p>
                            </section>
                            <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                            <section style="margin-bottom:unset;">
                                <section style="text-align:center;margin-bottom:unset;">
                                    <section
                                        style="display:inline-block;background-color:rgb(113, 232, 222);width:35px;height:35px;margin-bottom:unset;overflow:hidden;line-height:0;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);">
                                        <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                                    <section
                                        style="background-color:rgb(113, 232, 222);margin-left:-10px;display:inline-block;width:30px;height:30px;margin-bottom:unset;overflow:hidden;line-height:0;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);">
                                        <span leaf=""><br class="ProseMirror-trailingBreak"></span></section>
                                </section>
                                <section
                                    style="margin-top:-40px;margin-bottom:unset;transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);">
                                    <p style="text-align:center;"><span
                                            style="font-size:18px;color:#ffffff;"><strong><span
                                                    leaf="">end</span></strong></span></p>
                                </section>
                            </section>
                            <p><span leaf=""><br class="ProseMirror-trailingBreak"></span></p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>